<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stacs.estate.cs5031p3code.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="stacs.estate.cs5031p3code.model.po.Role">
            <id property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="roleKey" column="role_key" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id
        ,role_name,role_key
    </sql>
</mapper>
