.Section0 {
    background: rgb(43, 43, 43);
}

.Section0 > #Section0-left, #Section0-right, #Section0-middle {
    width: 33%;
    text-align: center;
    color: #F2F2EE;
}

.Section0 > #Section0-left {
    position: absolute;
    left: 0;
    top: 0;
}

.Section0 > #Section0-middle {
    margin-left: 33%;
    width: 34%;
    border-left: 4px solid #F2F2EE;
    border-right: 4px solid #F2F2EE;
}

.Section0 > #Section0-right {
    position: absolute;
    right: 0;
    top: 0;
}

.Section0 > * > h1 {
    font-size: 20px;
    margin: 0;
    padding-top: 20px;
    font-weight: 400;
}

.Section0 > * > p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 300;
}