.Section3 {
    padding-top: 130px;
    padding-bottom: 130px;
    height: 800px;
    background: rgb(43, 43, 43);
    color: #F2F2EE;
}

.Section3-sunburst {
    float: left;
    margin-left: 17%;
}

.Section3-title {
    width: 45%;
    height: 520px;
    margin-left: 55%;
    padding-top: 250px;
}

.Section3-title > h1,
.Section3-title > h2,
.Section3-title > h3,
.Section3-title > h4 {
    padding: 0;
    margin: 0;
}

.Section3-title > h1 {
    font-size: 50px;
}

.Section3-title > #line2 {
    font-size: 40px;
}

.Section3-title > h2 {
    font-size: 20px;
    margin-bottom: 40px;
}

.Section3-title > h3 {
    font-size: 16px;
}

.Section3-title > h4 {
    font-size: 14px;
    color: #b2b2af;
    margin-top: 10px;
}